<div class="container my-5" style="width:80%">
    <div class="card mb-3" style="border:none">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="https://www.perfocal.com/blog/content/images/2020/07/Perfocal_Male_Dating_Profile_Smile_Man.jpg" style="width
    :100%" alt="...">
            </div>
            <div class="col-md-6 border">
                <div class="card-body">
                    <h5 class="card-title"><b><center><u>William Star</u></center></b></h5>
                    <p class="card-text">
                        <center><b>"Magic in designs is what I believe."</b></center>

                        <br />Hello, my name is William. I am a professional graphic designer with over 6 years of experience. I will provide high-quality work that will happy all my clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="border:none">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="https://shotkit.com/wp-content/uploads/2021/06/cool-profile-pic-matheus-ferrero.jpeg" style="width
    :100%" alt="...">
            </div>
            <div class="col-md-6 border">
                <div class="card-body">
                    <h5 class="card-title"><b><center><u>Prajita Adhikari</u></center></b></h5>
                    <p class="card-text">
                        <center><b>"Magic in designs is what I believe."</b></center><br /><b>Hire him.</b>
                        <br />Hello, my name is Prajita. I am a professional graphic designer with over 6 years of experience. I will provide high-quality work that will happy all my clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
