
<div class="container my-5" style="width:80%">
    <div class="card mb-3" style="border:none">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="https://www.oberlo.com/media/1611849225-how-to-start-a-successful-photography-business-via-unsplashportuguese-gravity.jpeg" style="width
    :100%" alt="...">
            </div>
            <div class="col-md-6 border">
                <div class="card-body">
                    <h5 class="card-title"><b><center><u>Jenisha Maharjan</u></center></b></h5>
                    <p class="card-text">
                        <center><b>"Capture time through a photograph."</b></center><br /><b>Hire her.</b>

                        <br />You’ll have a blast working with her—it's hard not to when you're around her positive energy and infectious laugh.
                        <br />You’ll get all the shots you need, plus many more that you didn’t even know you wanted.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="border:none">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="https://media.istockphoto.com/id/1208414307/photo/happy-male-executive-in-office.jpg?s=612x612&w=0&k=20&c=3krD8gIdPmHFVwbcHGyQDXUGlcyzmcWQNyRMRp_93P8=" style="width
    :100%" alt="...">
            </div>
            <div class="col-md-6 border">
                <div class="card-body">
                    <h5 class="card-title"><b><center><u>Ram Bhandari</u></center></b></h5>
                    <p class="card-text">
                        <center><b>"Capture time through a photograph."</b></center><br /><b>Hire him.</b>

                        <br />You’ll have a blast working with him—it's hard not to when you're around him positive energy and infectious laugh.
                        <br />You’ll get all the shots you need, plus many more that you didn’t even know you wanted.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="border:none">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="https://st2.depositphotos.com/6672578/9743/i/450/depositphotos_97431594-stock-photo-businessman-smiling-confidently-at-camera.jpg" style="width
    :100%" alt="...">
            </div>
            <div class="col-md-6 border">
                <div class="card-body">
                    <h5 class="card-title"><b><center><u>Noah Waters</u></center></b></h5>
                    <p class="card-text">
                        <center><b>"Capture time through a photograph."</b></center><br /><b>Hire him.</b>

                        <br />You’ll have a blast working with him—it's hard not to when you're around him positive energy and infectious laugh.
                        <br />You’ll get all the shots you need, plus many more that you didn’t even know you wanted.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>