@{
    ViewData["Title"] = "Privacy Policy";
}

<center><h1 style="font-size:30px;"><u>These are some of our previous works which may be inspiration for your event.</u></h1></center>
<br />
<br />
<div class="work">
    <center>
        <img width="370" src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBhcnR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="img-thumbnail">
        <img width="370" src="https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHBhcnR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="img-thumbnail">
        <img width="330" src="https://images.unsplash.com/photo-1587098017060-aec553037fc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHVuaXZlcnNpdHklMjBmZXN0aXZhbHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="..." class="img-thumbnail">
        <br />
        <br /><img width="300" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2YX6CaE6ul-yr6t-v8KBW8FcEjrNraH3CaQ&usqp=CAU" alt="..." class="img-thumbnail">
        <img width="310" src="https://images.unsplash.com/photo-1662330287683-6032da28889c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NjN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="img-thumbnail">
        <img width="270" src="https://images.unsplash.com/photo-1657664050038-1e6f957de1a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTE5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="img-thumbnail">
        <br />
        <br /><img width="300" src="https://images.unsplash.com/photo-1603228254119-e6a4d095dc59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmVzdGl2YWxzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="img-thumbnail">
        <img width="300" src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNvbGxlZ2UlMjBzdHVkZW50c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="img-thumbnail">
    </center>

</div>
