
<div class="container my-5" style="width:80%">
    <div class="card mb-3" style="border:none">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="https://holeinthedonut.com/wp-content/uploads/2012/06/Nepal-Patan-Durbar-Square1.jpg" style="width
    :100%" alt="...">
            </div>
            <div class="col-md-6 border">
                <div class="card-body">
                    <h5 class="card-title my-5"><b><center><u> Public Location</u></center></b></h5>
                    <p class="card-text">

                        Feel free to choose any location you have in mind. We also provide photo shoot location suggestion, please contact us and share your ideas as well and we will choose the best location.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="border:none">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="https://www.regardauteur.com/en/photos/view/69740/small/30594c919c269b2e5e0c2fec197c8c6e.jpg" style="width
    :100%" alt="...">
            </div>
            <div class="col-md-6 border">
                <div class="card-body">
                    <h5 class="card-title my-5"><b><center><u>Studio shoot</u></center></b></h5>
                    <p class="card-text">
                        You’ll have a blast working with us in our studio. We have different studios which we can model according to your theme.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="border:none">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="https://cf.ltkcdn.net/weddings/images/orig/239897-1600x1030-wood-wedding-theme.jpg" style="width
    :100%" alt="...">
            </div>
            <div class="col-md-6 border">
                <div class="card-body">
                    <h5 class="card-title my-5"><b><center><u>Theme selection</u></center></b></h5>
                    <p class="card-text">
                        Our management team has so many great ideas for any events theme, so please feel free to use our theme selection service as well.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>